.home-features {
  grid-column: 1 / -1;
  padding: 10rem;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 5rem;
  align-items: baseline;

  //375px Mobile
  @media only screen and (max-width: 23.4em) {
    padding: 5rem;
  }

  p {
    opacity: 60%;
  }

  svg {
    margin-bottom: 4rem;
  }
}
